#activities-select-title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 40px;

}

#activities-select-box {
    position: relative;
    display:flex;
    background-color: #232025;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    height: 175px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
}

#activities-title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 40px;

}
#activities-full{
    height: 100%;
    padding-bottom: 70px;
}

#activities-box {
    position: relative;
    display:flex;
    background-color: #232025;
    flex-wrap: wrap;
    justify-content: left;
    width: 960px;
    padding: 20px;
    margin: 20px auto 20px;
    border-radius: 5px;
}

#activity-full {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    top: 0;
    padding: 100px 0 170px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}
#activity-card {
    z-index: 1001;
    height: fit-content;
    padding: 30px;
    width: 750px;
    background-color: var(--dd);
    border-radius: 5px;
}

#statistics-button {
    position: absolute;
    right: -160px;
    top: -80px;
}


.course-item-box {
    background-color: #3B363F;
    padding: 40px 15px;
    width: 250px;
    height: 120px;
    border-radius: 25px;
    margin: 20px 20px;
    color: white;
    cursor: pointer;
}

.course-item-box:hover {
    border-style: solid;
    border-color: var(--pink);
    border-width: 4px;
    margin: 16px;
}

.activity-item {
    padding: 40px 15px 35px;
    width: 120px;
    height: 60px;
    border-radius: 25px;
    margin: 20px 20px;
    color: white;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}


