@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "Courses";

:root{
    --d: #3B363F;
    --dd: #332F36;
    --ddd: #2E292F;
    --dddd: #232025;
}

a {
  text-decoration: none;
}

#root {
    background-color: #332F36;
    height: 100vh;
}

#codeForm{
  width: 20%;
}
a:visited {
    text-decoration: none;
}

.text-small {
    font-size: 20px;
}
.text-medium {
    font-size: 40px;
}
.text-large {
    font-size: 50px;
}
.text-extralarge {
    font-size: 60px;
}
.text-white {
    color: white;
}
.weight-normal {
    font-weight: normal;
}
.weight-light {
    font-weight: lighter;
}
.weight-bold {
    font-weight: bold;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
}

.custom-header {
    background-color: #332F36;
    height: 30px;
    color: white;
    text-align: right;
    padding: 20px 40px;
    box-shadow: 0px 3px 4px var(--dddd);
}

.activity-item-box {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40vw;
  margin: 20px auto;
}
.activity-item {
  background-color: black;
  padding: 40px 15px;
  width: 450px;
  height: 120px;
  border-radius: 25px;
  margin: 20px 20px;
  color: white;
}

#courses-title {
    text-align: center;
    padding: 40px;
}



#login {
    height:15%;
    min-height:15%;
    max-height:100%;
    margin: 100px 0;
}

.login-form {
    display: flex;
    justify-content: space-between;
}

#login-button{
    display: flex;
    justify-content: center;
}

.lander-container {
    background-color: #332f36;
    padding-top: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.title {
    margin: 15vh 0;
}

.center-text{
  text-align: center;
}
.margin-top-20{
  margin-top: 20px;
}

body{
  font-family: "Segoe UI Light",serif;
}

.float-left{
  float: left;
}
.margin-top-normal{
  padding-top: 15%;
}
.padding-left-50{
  padding-left: 50px;
}
.padding-left-70{
  padding-left: 70px;
}
.padding-left-10{
  padding-left: 10px;
}
.padding-top-7{
  padding-top: 7px;
}
.padding-right-30{
  padding-right: 30px;
}

.padding-top-10{
  padding-top: 10px;
}

.move-left-30{
  margin-left: -20px;
}
.padding-top-20{
  margin-top: 30px;
}
.padding-bottom-30{
  padding-bottom: 30px;
}
.padding-bottom-50{
  padding-bottom: 50px;
}
.padding-bottom-70{
  padding-bottom: 70px;
}
.color-positive{
  color: #2CC24A;
}

.color-negative {
  color: #D95656;
}

.font-size-title{
  font-size: 100px;
}
.font-color-title{
  color: white;
}

.font-size-subtitle{
  font-size: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-btn-shape{
  width: 400px;
  height: 90px;
  padding-top: 5px;
  display: inline-block;
  margin-top: 50px;
  border-radius: 30px;
}


.main-btn-bgcolor{
  background-color: #3B4DF1;
}
.main-btn-color{
  color: white;
}

.login-btn{
  float: right;
  position: relative;
  top: 65px;
  right: 100px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  width: 110px;
  height: 40px;
  color: #949191;
  font-size: 20px;
  padding-top: 5px;
  border-color: #949191;
}

.standard-btn{
  border-style: solid;
  text-align: center;
  border-radius: 10px;
  border-width: 1px;
  min-width: 110px;
  min-height: 40px;
  padding: 5px 10px 0 10px;
  color: #949191;
  font-size: 20px;
  border-color: #949191;
  text-decoration: none;
  cursor: pointer;

}

.login-btn:hover{
  box-shadow: 0 0 10px 1px #00000020;
}

.ayuda-btn:hover{
  font-size: 22px;
  width: 53px;
}

.main-btn-shape:hover{
  box-shadow: 0 0 10px 1px #00000070;
  font-size: 52px;
}

.overlay-card{
  position: absolute;
  z-index: 1000;

  top: 10%;
  left: 50%;


  border: 3px solid black;
  border-radius: 30px;
  background-color: ghostwhite;
  padding: 40px;
}

.login-overlay-size{
  width: 700px;
  height: 800px;
  margin-top: 0;
}

.reglog-form{
  margin-right: 50px;
}
